.wrapper{
    border: 49px solid #462921;
    width: 473px;
    margin: 84px auto;
    display: grid;
    grid-template-columns:repeat(8, 1fr)
    
}

.box_inner{
    background-color: #7d694c;
    text-align: center;
    padding:12px
}

.top{
    display: grid;
    grid-template-rows:repeat(8, 1fr);
    grid-gap: 19px 31px;
}

.box{
    border:none;
    padding: 20px;
    font-size: 150%;
    background-color: #b5915f;
    color: #000;
    text-align: center;
}
.box1{
    border:none;
    padding: 20px;
    font-size: 150%;
    background-color: #201301;
    color: #000;
    text-align: center;
}

.top{
    display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}
h1{
    margin-top: 55px;
    text-align: center;
}
